
#top {
    position: relative;
    margin: 5px auto 0px;
    width: 1025px;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  text-decoration : underline;
}

.upperSubmenu {
    border: 0;
    text-decoration: underline;
}

.tabContractor {
    margin-top: 20px;
}

.panelGridForm {
    
}

#content {
    position: relative; 
    margin: 0px auto 0px;
    width: 1025px;
}


#bottom {
    position: relative; 
    margin: 3px auto 0px;
    width: 1025px;
}

/* ========= Table view ============== */
.tableView {
    margin-top: 20px;
}

.headerTableView{
    border: 1px solid #D9D9D9;
    background-color: #F3F3F3;
    color: #484848;
    font: bold 11px Tahoma;
    height: 30px;
    border-right-color: #FFFFFF;
}


.colTableView {
    
}



/* ============= end table view =================== */